<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.1.101" doc="IP address by which the robot can be reached."/>
  <arg name="kinematics_config" default="$(find qy_dual_arm)/101_calibration.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>
  <arg name="reverse_port" default="50001" doc="Port that will be opened by the driver to allow direct communication between the driver and the robot controller."/>
  <arg name="script_sender_port" default="50002" doc="The driver will offer an interface to receive the program's URScript on this port. If the robot cannot connect to this port, `External Control` will stop immediately."/>
  <arg name="trajectory_port" default="50003" doc="Port that will be opened by the driver to allow trajectory forwarding."/>
  <arg name="script_command_port" default="50004" doc="Port that will be opened by the driver to allow forwarding script commands to the robot."/>
  

  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="kinematics_config" value="$(arg kinematics_config)"/>
    <arg name="reverse_port" value="$(arg reverse_port)"/>
    <arg name="script_sender_port" value="$(arg script_sender_port)"/>
    <arg name="trajectory_port" value="$(arg trajectory_port)"/>
    <arg name="script_command_port" value="$(arg script_command_port)"/>
  </include>

</launch>
